.container {
  display: grid;
  grid-template-columns: minmax(150px, auto) 1fr;
  gap: 2rem;
  align-items: start;
}

.separator {
  height: 1rem;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
